*{
    box-sizing: border-box;
}

a{
 text-decoration: none;
}

.top-page-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
}

.header-subtitle{
    color: #fff;
}

.list-right{
    display: flex;
    font-size: 18px;
}

.user-nickname{
    text-decoration: none;
    color: #fff;
}

.logout{
    text-decoration: none;
    margin-left: 5vw;
    color: #fff;
}

.sign-up{
    margin-left: 5vw;
    color: #fff;
}