/* 画面上部のプロテインを選ぶなら部分 */
.top{
    width: 100%;
    height: 700px;
    background-image: url("../items/top-image.jpg");
    background-size: cover;
}

.top-wrap{
    max-width: 1600px;
    min-width: 1280px;
    margin: 0 auto;
    padding: 15px 64px ;
    display: flex;
    flex-direction: column;
}

.top-title-wrap{
   font-size: 70px;
    background-color:rgba(255,255,255,0.3) ;
    width: 550px;
    height: 330px;
    margin: 100px 0px 80px;
    display: flex;
    align-items: center;
    padding: 15px;
    color: #404040;
}

.top-search-form{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.top-search-input{
    width: 55%;
    padding: 12px ;
    margin-right: 3vw;
    border: none;
    border-radius: 6px;
}

.top-search-btn{
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.top-search-btn:hover{
    background-color: #f6bfbc;
    color: #fff;
}



/* //画面上部のプロテインを選ぶなら部分 */

/* 商品一覧部分 */

.contents{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.item-contents{
    width:75%;
    background-color:#fafafa;
    padding:5vh 0 ;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item-title{
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 2vh;
    color: #404040;
}

.item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px ;
}

.item-list>.list {
    width: 37vh;
    padding: 1vw;
    margin:1vw;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 0 4px lightgray;
}

.item-img-content{
    display: flex;
    justify-content: center;
}

.item-img{
    width: 25vh;
    height: 25vh;
}

.item-info{
    padding: 1vw;
    color: #404040;
}




/*// 商品一覧部分 */

/* サイドバー部分 */
.side-ber{
    background-color: #fafafa;
    width: 25%;
    display: flex;
    justify-content: center;
    padding:5vh 0 ;
    border-left: 1px solid lightgray;
}

.post-btn{
    background-color: #e0e0e0;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-radius: 99%;
    bottom: 60px;
    right: 32px;
}

.post-btn:hover{
    background-color: #f6bfbc;
}

.post-btn-text{
  color:black;
  font-size: 18px;
  margin: 5px 0;
}

.post-btn-icon{
  width: 40%;
   margin-bottom: 5px;
}

.side-sign-up{
    font-size: 16px;
    border-radius: 3%;
    border:  1px solid #a4c6ff;
    background-color: #bad3ff;
    text-align: center;
    color: white;
}

.user-info-container{
    width: 100%;
    padding: 16px;
    
}

.side-container{
    border: solid 1px lightgray;
    padding: 16px;
    background-color: white;
    width:20vw;
}

.explan-login{
    margin: 7px 0;
    font-size: 13px;
}

.side-sign-up{
    padding: 10px;
    width: 100px;
    display: block;
    margin: 15px auto 0 ;
}

.side-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-title{
    margin: 10px 0;
    font-size: 18px;
    color: #404040;
}

.sidebar-user-nickname{
    color: #404040;
}

.bookmark-list{
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    width:100%;
    border-radius: 3px;
}

.bookmark{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#404040;
}

.bookmark-image{
    width: 10vh;
    height: 10vh;
}

.bookmark-name{
    display: block;
    margin: 5px 0;
}

.bookmark-taste{
    display: block;
    margin: 5px 0;
}

/* //サイドバー部分 */