.items-sell-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    padding: 5vh 0;
}

.items-sell-main{
    width: 70vw;
    padding: 8vh 8vw;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    margin: 5vh 0;
}

.items-sell-title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.weight-bold-text{
    font-weight: bold;
    min-width: 170px;
    margin-bottom: 10px;
}

.img-upload{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:  2vh 0;
}

.click-upload p{
    margin-bottom: 15px;
}

.new-items{
    padding: 2vh 0;
}

.items-wrap{
    display: flex;
    justify-content: space-between;
    padding:  3vh 0;
}

.items-integer{
    width: 80px;
    text-align: center;
    padding: 2px 0;
}

.items-text{
    width: 50%;
    padding: 5px 0 ;
    resize: none;
    min-width: 365px;
}

.items-integer-wrap{
    display: flex;
    min-width: 110px;
    justify-content: space-between;
}

.sell-btn-contents{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sell-btn{
    background-color: #e0e0e0;
    padding: 15px 30px ;
    cursor: pointer;
    border-radius: 99%;
    margin-left: 15px;
    border: none;
}

.sell-btn:hover{
    background-color: #f6bfbc;
    color: #fff;
}

.back-btn{
    background-color: #e0e0e0;
    padding: 15px 30px ;
    cursor: pointer;
    border-radius: 99%;
    color: black;
}