.search-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh 0;
}

.search-title{
    font-size: 25px;
    margin-bottom: 15px; 
    text-decoration:underline  #bad3ff ;
}


.search-list{
    width: 90%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    margin: 5vh 0;
    padding: 1vw;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgrey;
    padding: 1vw;
    margin: 1vw;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px lightgray;
}

/* 検索フォームは検索結果ページと共通 index.cssに記述*/