.search-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh 5vw;
}

.search-title{
    font-size: 25px;
    margin: 15px 0 ; 
}

.search-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 40%;
    padding: 10px;
    margin-right: 3vw;
}

.search-btn{
    padding: 10px 15px;
}

.search-list{
    width: 90%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    margin: 5vh 0;
    padding: 1vw;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 1vw;
    margin: 1vw;
    background-color: #fff;
}