<%# showファイルのクラスを使用。リファクタリング予定 %>

<div class="item-show">
    <div class="item-box">
        <h2 class="show-name">
        投稿情報を削除しました
        </h2>
        
        <div class="sell-btn-show">
            <%= link_to "もどる" , root_path, class:"show-back-btn" %>
        </div>
       
    </div>
</div>
<%= render "shared/footer" %>