<%= render "shared/subheader"%>
<div class="item-delete">
    <div class="item-delete-wrap">
        <h2 class="delete-message">
        投稿情報を削除しました
        </h2>
        <%= link_to "トップページ" , root_path, class:"delete-back-btn" %>
        </div>  
    </div>
</div>
<%= render "shared/footer" %>