.login-bad3ff-btn{
    background-color: #bad3ff;
    border: 1px solid #a4c6ff;
    margin: 30px 0 20px 0 ;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.login-flash-message {
    text-align: center;
    color: red;
}