
.mypage-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh 0;
}

.mypage-title{
    font-size: 25px;
    margin-bottom: 15px; 
    text-decoration:underline  #bad3ff ;
}

.mypage-contents{
    width: 70vw;
    background-color: #fafafa;
    margin: 5vh 0;
    padding: 1vw;
}

.mypage-subtitle{
    font-size: 20px;
    margin: 10px 0;
}

.mypage-list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.mypage-list-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 1vw;
    margin: 1vw;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px lightgray;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

.mypage-list-wrap:hover{
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.mypage-name {
    color: #404040;
}

.mypage-taste{
    color: #404040;
}

.mypage-image{
    width: 33vh;
    height: 33vh;
}